* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: Helvetica;
}

h1 {
  background-image: url("./assets/pattern.jpg");
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}