* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

h1 {
  background-image: url("./assets/pattern.jpg");
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  margin: 67px 0;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin: 27px 0;
}

h3 {
  font-size: 19px;
  margin: 19px 0;
}

p {
  margin: 16px 0;
}

span {
  font-weight: bold;
  color: blue;
}

.brushes {
  background-color: mediumseagreen;
}